html, body{
margin: 20px auto;
background-color:lightgrey;
font-family:Verdana, Geneva, Tahoma,Arial,sans-serif;
display:block;
justify-content:center;
text-align:center;
}

.image-roma{
width:300px;
}
.card{
box-sizing:border-box;
display:flex;
justify-content: space-around;
padding:30px;
background-color:#83c9a1;
width:700px;
margin:0 auto;
text-align:center;
border-bottom:20px solid #68ad85;
border-bottom-colo: #68ad85;
color:#122e0b;
}

.card-body{
background-color:#90cb90;
padding:55px 10px;
box-sizing:border-box;
width:400px;

}
.card_bottom{
width:700px;
background-color:#83c9a1;
height:20px;
display:flex;
margin:auto;
}
.dotted-border{
border: 1px dotted #68ad85;
}